#homeContainer {
     position: absolute;
     top: 0px;
     height: auto;
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto;
     display: flex;
     flex-direction: column;
     padding: 0px;
     margin: 0px;
}

/* HEADING START */
#homeHeading {
     width: 100%;
     height: 85vh;
}

#videoBox {
     height: 100%;
     width: 100%;
     overflow: hidden;
     background-color: rgba(0, 0, 0, 0.37);
}

#coffeeVid {
     position: relative;
     bottom: 350px;
     z-index: -1;
}

#orderNowHome {
     position: relative;
     top: 50%;
     left: 15%;
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid white;
     height: 50px;
     width: 170px;
     border-radius: 10px;
     color: white;
     transition: 0.3s;
}

#orderNowHome:hover {
     background-color: rgba(255, 255, 255, 0.39);
     cursor: pointer;
}

#headingTextHome {
     position: relative;
     top: 40%;
     left: 10%;
     color: white;
     font-size: 24px;
}
/* HEADING END */

/* CONTENT START */
#homeContent {
     background-color: rgb(17, 17, 17);
     width: 100%;
     height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 15px;
}

#homeContentHeader {
     height: 50%;
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#homeContentTitle {
     height: 30%;
     width: 65%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2rem;
     color: black;
     text-align: center;
     color: white;
}

#homeContentTextBox {
     height: 70%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
}

#homeContentText {
     width: 80%;
     height: 70%;
     color: white;
}

#homeContentMapBox {
     width: 60%;
     height: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#homeMap {
     width: 90%;
}

/* CONTENT END */

/* LINK SECTION START */
#linkSection {
     height: 350px;
     width: 100%;
     background-image: url('../../assets/home/crowdoutsidehouse.jpg');
     background-size: cover;
     background-position-y: -550px;
     background-repeat: no-repeat;
     background-blend-mode: overlay;
     background-color: rgba(0, 0, 0, 0.45);
     display: flex;
     justify-content: center;
     align-items: center;
}

#linkBox {
     width: 50%;
     height: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20%;
}

#locationBox {
     display: flex;
     justify-content: center;
     align-items: center;
}

#eventsBox {
     display: flex;
     justify-content: center;
     align-items: center;
}

.linkButton {
     background-color: rgba(0, 0, 0, 0.555);
     border: 1px solid white;
     width: 225px;
     height: 50px;
     color: white;
     font-size: 1.3rem;
     transition: 0.3s;
}

.linkButton:hover {
     background-color: rgba(255, 255, 255, 0.199);
}
/* LINK SECTION END */

@media  (max-width: 1000px) {
     #homeHeading {
          height: 100vh;
     }

     #coffeeVid {
     right: 600px;
     bottom: 100px;
     }

     #orderNowHome {
          top: 40%;
          left: 10%;
     }

     #homeContent {
          flex-direction: column;
     }

     #headingTextHome {
          font-size: 1.3rem;
          left: 5%;
          top: 37%;
     }

     #homeContentHeader {
          width: 90%;
          height: 100%;
          padding-top: 25px;
     }

     #homeContentTitle {
          width: 100%;
     }

     #homeContentText {
          width: 100%;
     }

     #homeContentMapBox {
          width: 100%;
     }

     #homeMap {
          width: 100%;
     }
     
     #linkSection {
          background-position-y: 0;
     }

     #linkBox {
          height: 90%;
          width: 60%;
          flex-direction: column;
     }
}