#homeContainer {
     position: absolute;
     top: 0px;
     height: auto;
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto;
     display: flex;
     flex-direction: column;
     padding: 0px;
     margin: 0px;
}

/* HEADING */
#homeHeading {
     width: 100%;
     height: 60vh;
}

#videoBox {
     height: 100%;
     width: 100%;
     overflow: hidden;
     background-color: rgba(0, 0, 0, 0.37);
}

#coffeeVid {
     position: relative;
     bottom: 350px;
     z-index: -1;
}

#orderNowHome {
     position: relative;
     top: 50%;
     left: 15%;
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid white;
     height: 50px;
     width: 170px;
     border-radius: 10px;
     color: white;
}

#orderNowHome:hover {
     background-color: rgba(255, 255, 255, 0.39);
     cursor: pointer;
}

#headingTextHome {
     position: relative;
     top: 40%;
     left: 10%;
     color: white;
     font-size: 24px;
}

/* CONTENT */
#homeContent {
     background-color: black;
     width: 100%;
     height: 500px;
}

@media  (max-width: 1000px) {
     #homeHeading {
          height: 100vh;
     }

     #coffeeVid {
     right: 700px;
     bottom: 100px;
     }

     #orderNowHome {
          top: 40%;
          left: 10%;
     }

     #headingTextHome {
          font-size: 1.3rem;
          left: 5%;
          top: 37%;
     }
}